
/* Simple CSS reset */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	color: #222;
	font-family: Helvetica;
	text-align: center;
}

div {
	background: white;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
}

h1 {
	margin: 0 0 20px;
}

p {
	margin: 10px 0;


/* Styling links */

/* Unvisited links */
a:link {

	}

/* Visited links */

/* Mouse over link */

/* Active links */