.myDiv {
    /* background of the myDiv element, not the rest of the page */
    background-image: url("images/cat_63.jpg");
    /* to scale an image: */
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 200px;

    /*
    in order to create a tiled background, do
    background-repeat: repeat;
     */
}
/*-------------------------------------------------------------------*/
/* Styling Forms */

#container {

    /* a trick to center the content in the browser, the remaining space is
     divided by two */
    width: 600px;
    margin: 0 auto;

}

form {
    background-color: coral;
    padding: 10px;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    border-radius: 5px;
}
/* to select only 'fieldset' inside forms */
form fieldset {
    background-image: url("images/fondo_verde.jpg");
    padding: 40px;
    border: solid 1px white;
    border-radius: 5px;
}

form legend {
    border: solid 1px #333;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 5px;
}
/* grouping selectors, each with sub-selectors */
form input, form textarea {
    /* to make every element use an independent line */
    display: block;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

form label {
    /* all this affect the letters, not the background */
    font-size: 11px;
    text-transform: uppercase;
    color: azure;
    /* this is a Google Font. Find more searching for 'google fonts' */
    font-family: 'Slabo 27px', serif;
}
/* that is: all input elements of type text inside a form, etc */
form input[type = "text"], form input[type = "email"] , form textarea {
    padding: 10px;
    color: #333333;
    background-color: coral;
    font-family: 'Indie Flower', sans-serif, serif;
    font-size: 12px;
}

form textarea {
    width: 300px;
    height: 100px;
    border-radius: 3px;
}

form input {
    border: solid 1px #ffdc92;
    border-radius: 3px;
}

























