
/* Borders: here, with a class to set the general style, and
many id's to set individual properties */

.border-box {
    background: #eeeeee;
    margin: 0 0 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

#box-1 {
    border: solid 1px black;
    border-radius: 5px;
}

#box-2 {
    border: dashed 1px green;
    border-radius: 10px;
}

#box-3 {
    border: dotted 1px red;
    border-radius: 15px;
}

/* borders thicker than 1px take some outside space,
they make the box a little bigger */
#box-4 {
    border: double 3px deepskyblue;
    border-radius: 50px;
}

#box-5 {
    border: solid 5px #222222;
    border-radius: 5px;
}
#box-6 {
    border: dashed 5px #c7ff4f;
    border-radius: 25px;
}
#box-7 {
    border: dotted 5px #b43cae;
    border-radius: 50px;
}
#box-8 {
    border: groove 5px #ffe844;
    border-radius: 80px;
}



